<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <!-- Package visibility query for on-device speech recognition service -->
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
        <!-- Package visibility query for on-device speech synthesis service -->
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AudioScribe">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/Theme.AudioScribe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Translucent Share Target Activity: Displays only the slide-in bottom sheet over the sharing app without bringing the main app forward -->
        <activity
            android:name=".ShareReceiverActivity"
            android:exported="true"
            android:label="@string/transcribe_with_audioscribe"
            android:theme="@style/Theme.AudioScribe.Translucent"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Android Share Target Integration for audio files -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="audio/ogg" />
                <data android:mimeType="audio/mp4" />
                <data android:mimeType="audio/mpeg" />
                <data android:mimeType="audio/amr" />
                <data android:mimeType="audio/x-m4a" />
                <data android:mimeType="audio/wav" />
                <data android:mimeType="audio/aac" />
                <data android:mimeType="audio/flac" />
            </intent-filter>
        </activity>
    </application>

</manifest>
